<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Leaderboard!</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles/games.css">
	<link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Righteous&family=Russo+One&display=swap" rel="stylesheet">
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

	<div id="app">

		<div class="container">
			<div id="main-title" class="row">
				<h1>BATTLESHIP</h1>
			</div>
			<template v-if="games.player != null">
				<div class="row leaderboard justify-contents-center">
					<div class="col justify-contents-center">
						<div class="top">
							<h2>LET'S PLAY, <em>{{games.player.username}}</em> !</h2>
						</div>
						<div>
							<h4>LEADERBOARD</h4>
							<table class="table leaderboard">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">PLAYER</th>
										<th scope="col">TOTAL POINTS</th>
										<th scope="col">WINS</th>
										<th scope="col">LOSSES</th>
										<th scope="col">TIES</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(player, index) in leaderBoard">
										<th scope="row">{{(index + 1)}}</th>
										<td scope="row">{{player.username}}</td>
										<td scope="row">{{player.totalPoints}}</td>
										<td scope="row">{{player.wins}}</td>
										<td scope="row">{{player.losses}}</td>
										<td scope="row">{{player.ties}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<h4>MY GAMES</h4>
							<table class="table text-center">
								<thead class="thead-dark ">
									<tr>

										<th scope="col">GAME #</th>
										<th scope="col" colspan="2">PLAYERS</th>

									</tr>
								</thead>
								<tbody>
									<template>
										<tr v-for="game in games.games" class="my-games-table">
											<th scope=" row">{{game.id}}</th>
											<td scope="row" v-for="(gamePlayer, index) in game.gamePlayers">
												<div>{{gamePlayer.player.username}}</div>
												<template v-if="gamePlayer.player.username ==
										games.player.username && game.state == 'GAME OVER'">
													<div>
														<a :href="'game.html?gp='+ gamePlayer.id"><button type="button"
																class="btn btn-sm btn-primary">SEE GAME
															</button></a></div>
												</template>
												<template v-if="gamePlayer.player.username ==
										games.player.username && game.state != 'GAME OVER'">
													<div>
														<a :href="'game.html?gp='+ gamePlayer.id"><button type="button"
																class="btn btn-sm btn-primary">RESUME PLAYING
															</button></a></div>
												</template>
												<template v-if="game.gamePlayers.length == 1 && games.player != null && gamePlayer.player.username !=
										games.player.username">
													<div>
														<button type="button" class="btn btn-sm btn-warning"
															v-on:click="joinGame(game.id)">JOIN GAME
														</button></div>
												</template>
											</td>
										</tr>
									</template>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</template>
			<template v-if="games.player == null">
				<div id="login-signup-div" class="row game-info justify-contents-center">
					<div class="col">
						<div id="login">
							<form>
								<label>email: <input type="email" v-model:value="email" required></label>
								<label>password: <input type="password" v-model:value="pwd" required></label>

							</form>
							<button type="button" class="btn btn-md btn-danger " v-on:click="loginNow">Log
								in</button>
							<button type="button" class="btn btn-md btn-light "
								onclick="alternateDisplays('login','signUp')">New
								user?</button>
						</div>


						<div id="signUp">
							<form>
								<label>Email: <input type="email" v-model:value="email" required></label>
								<label>Password: <input type="password" v-model:value="pwd" required></label>

							</form>
							<button type="button" class="btn btn-md btn-dark" v-on:click="signUp">Sign up</button>
							<button class="btn btn-md btn-light " onclick="alternateDisplays('signUp', 'login')">
								Back to Login</button>

						</div>
					</div>
				</div>
			</template>
			<template v-if="games.player != null">
				<div id="logout-create-game" class="row">
					<div class="col-6">
						<button type="button" v-on:click="createGame" class="btn btn-md btn-success">CREATE
							GAME!</button>
					</div>

					<div class="col-6">
						<button type="button" class="btn btn-sm btn-dark" v-on:click="logout">Log out</button>
					</div>
				</div>
			</template>

		</div>
	</div>



	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	<script src="scripts/games.js"></script>

</body>

</html>