body {
    color: red;
    background-image: url(../images/sea6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Bungee Inline', cursive;
    text-shadow: rgba(243, 239, 239, 0.952) 0px 0px 4px;


}

#main-title {
    margin-left: auto;
    justify-content: center;
    margin-top: 40px;
    display: flex;
}

#main-title h1 {
    font-size: 120px;
    text-align: center;
    width: 80vw;
    margin-bottom: 0px;
    padding: auto;
    box-shadow: rgba(243, 239, 239, 0.952) 0px 0px 8px;

}

.nav-top div {
    width: 100vw
}

#return-button {
    font-size: 50px;
    width: 8vw;
    color: red;
    padding-top: 60px;
    display: inline-flex;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.6;
}

#return-button:hover {
    opacity: 1;
}

.header {
    padding: 0px;
    margin-top: 0px;
    text-align: center;
}

.header h3 {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: rgb(13, 4, 63, 0.9);
}

#game-player-state {
    color: rgb(13, 4, 63);
    text-shadow: rgba(243, 239, 239, 0.952) 0px 0px 4px;
    margin-bottom: 35px;
}

.blink_me {
    animation: blinker 1s ease-in infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.grids table {
    cursor: cell;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    height: 440px;
    margin-bottom: 30px;
    opacity: 0.8;

}


.grids *td {
    width: 40px;
    height: 40px;
    border-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
}

.grids *tr {
    height: 40px;

}

.grids *th {
    width: 40px;
    max-width: 40px;
    min-width: 40px;

}

.controllers {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;


}

.salvoes-control div {
    margin-inline-end: 10px;
}

#salvoControl button {
    position: relative;
    margin-right: 20px;

}

.counter p {
    border: outset rgba(250, 246, 246, 0.295);
    background-color: rgba(80, 79, 79, 0.349);
    margin-left: 15px;
    padding: 3px;
    text-shadow: 0px 0px 0px;
}


.instructions div {
    margin-bottom: 20px;

}

.selected {
    box-shadow: 4px 4px 10px 4px rgb(91, 163, 245);
    background-color: rgba(183, 196, 204, 0.753);
}



.ships-input div:first-child {
    justify-content: center;
    margin-inline-start: auto;
}

.ship-full-image div {
    display: block;
    max-width: 350px;
    max-height: 150px;
    padding: 15px;
    margin-left: 15px;
}

.carousel-item {
    height: 230px;
    width: 400px;
    margin-top: 20px;
    margin-left: 80px;
    color: red;
    text-shadow: rgba(243, 239, 239, 0.952) 0px 0px 4px;
    font-size: 15px;
    padding-bottom: 10px;
}

.form-ships {
    margin-top: 10px;
}

.carousel-inner {
    background-color: rgba(94, 92, 92, 0.219);
    height: 210px;
    justify-content: center;

}

.ships-input form {
    max-width: 510px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#shipControl {
    margin-bottom: 30px;

}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-item img {

    width: 350px;
    height: 130px;
    display: block;
    margin-bottom: 10px;

}


.carousel-caption div {
    margin-top: 20px;
}

#my-ships-danger,
#crashing-enemy {
    margin-top: 90px;
    color: red;
}

.allShipStatus>table {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(67, 68, 68, 0.466);
}

.allShipStatus td {
    margin: 0px;
    padding: 0px;
    color: rgba(233, 244, 250, 0.959);
    text-shadow: 0px 0px 0px;
    font-weight: normal;
    font-family: 'Archivo Black', sans-serif;
}

.allShipStatus th,
tr {
    text-align: center;
    margin: 0px;
    padding: 0, 5px;
}


.shipStatus td {
    min-width: 60px;
    max-width: 60px;
    max-height: 18px;
}

.thSpecial {
    min-width: 115px;
    text-align: center;
}

.over {
    background-color: rgba(119, 125, 163, 0.39);
}

.selectedShip {

    animation: blinkingBackground 5s infinite;
    box-shadow: 2px 2px 8px 2px rgba(241, 141, 141, 0.541);

}


@keyframes blinkingBackground {
    0% {
        background-color: #ee14265d;
    }

    25% {
        background-color: #4284ee41;
    }

    50% {
        background-color: #ef0a1941;
    }

    75% {
        background-color: #25487852;
    }

    100% {
        background-color: #67696bfd;
    }
}




/*images */

.hit {
    background-image: url(../images/hit3.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hitBoat {
    position: relative;
    background-image: url(../images/hit.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

/* class aircraft */

.ah1 {
    background-image: url(../images/boats/aircrafthor/image_part_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ah2 {
    background-image: url(../images/boats/aircrafthor/image_part_002.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ah3 {
    background-image: url(../images/boats/aircrafthor/image_part_003.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ah4 {
    background-image: url(../images/boats/aircrafthor/image_part_004.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ah5 {
    background-image: url(../images/boats/aircrafthor/image_part_005.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.av1 {
    background-image: url(../images/boats/aircraftver/image_part_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.av2 {
    background-image: url(../images/boats/aircraftver/image_part_002.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.av3 {
    background-image: url(../images/boats/aircraftver/image_part_003.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.av4 {
    background-image: url(../images/boats/aircraftver/image_part_004.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.av5 {
    background-image: url(../images/boats/aircraftver/image_part_005.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

/* class battleship */
.bh1 {
    background-image: url(../images/boats/battlehor/image_part_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.bh2 {
    background-image: url(../images/boats/battlehor/image_part_002.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.bh3 {
    background-image: url(../images/boats/battlehor/image_part_003.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.bh4 {
    background-image: url(../images/boats/battlehor/image_part_004.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.bv1 {
    background-image: url(../images/boats/battlever/image_part_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bv2 {
    background-image: url(../images/boats/battlever/image_part_002.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bv3 {
    background-image: url(../images/boats/battlever/image_part_003.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bv4 {
    background-image: url(../images/boats/battlever/image_part_004.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* class submarine */


.sh1 {
    background-image: url(../images/boats/submarinehor/image_part_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sh2 {
    background-image: url(../images/boats/submarinehor/image_part_002.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sh3 {
    background-image: url(../images/boats/submarinehor/image_part_003.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sv1 {
    background-image: url(../images/boats/submarinever/image_part_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sv2 {
    background-image: url(../images/boats/submarinever/image_part_002.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.sv3 {
    background-image: url(../images/boats/submarinever/image_part_003.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* class destroyer */

.dh1 {
    background-image: url(../images/boats/destroyerhor/image_part_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dh2 {
    background-image: url(../images/boats/destroyerhor/image_part_002.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dh3 {
    background-image: url(../images/boats/destroyerhor/image_part_003.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dv1 {
    background-image: url(../images/boats/destroyerver/image_part_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dv2 {
    background-image: url(../images/boats/destroyerver/image_part_002.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.dv3 {
    background-image: url(../images/boats/destroyerver/image_part_003.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* class patrol boat */

.ph1 {
    background-image: url(../images/boats/patrolhor/image_part_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ph2 {
    background-image: url(../images/boats/patrolhor/image_part_002.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.pv1 {
    background-image: url(../images/boats/patrolver/image_part_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pv2 {
    background-image: url(../images/boats/patrolver/image_part_002.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}