div {
    margin: 30px;
}

body {

    z-index: 1;
    background-image: url(../images/sea.jpg);
    color: rgba(230, 7, 7, 0.952);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: 'Bungee Inline', cursive;
    text-shadow: rgba(243, 239, 239, 0.952) 0px 0px 8px;

}

#logout {
    padding-left: 30vw;
}

#new-game {
    box-shadow: rgba(243, 239, 239, 0.952) 0px 0px 8px;
}

#logout button {
    box-shadow: rgba(243, 239, 239, 0.952) 0px 0px 8px;
}

#main-title h1 {
    font-size: 130px;
    text-align: center;
    width: 100vw;
    margin-bottom: 0px;
    padding: auto;
    box-shadow: rgba(243, 239, 239, 0.952) 0px 0px 8px;

}

.table {
    background-color: rgba(250, 246, 246, 0.295);
    border: inset rgba(105, 117, 223, 0.336);
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;


}

.leaderboard div {
    margin-top: 10px;
}

.top h2 {
    text-align: center;
    color: rgb(13, 4, 63);
    font-weight: 100;
    margin-top: 0px;

}



#login-signup-div {

    height: 28vh;
    width: 23vw;
    position: fixed;
    background-color: rgba(250, 246, 246, 0.295);
    top: 40%;
    left: 37%;
    border: outset rgb(250, 218, 218) 2px;
    letter-spacing: .07em;
    text-shadow: white 0px 0px 8px;
    padding: 0px;

}


#signUp {
    display: none;
    margin: auto;
    padding: 0px;
    font-size: 18px;
    color: red;
}

#login {
    display: block;
    margin: auto;
    padding: 0px;
    font-size: 18px;
    color: red;

}

#signUp,
#login * input {
    max-width: 18vw;
}

#signUp,
#login * div {
    max-height: 10vh;
}

#signUp,
#login * label {
    text-align: center;
}

#signUp,
#login * button {
    text-align: center;
    width: 3 vw;
    margin-left: 1;
    margin-right: 1;

}


.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}